<h2><%= l(:label_graphs_issue_growth) %></h2>

<table border = "0" align ="center">
<tr>
<tr>
<% @selectable_trackers.each do |tracker| %>
  <td><%= tracker.name %></td>
<% end %>
<td></td>
</tr>
<% @selectable_trackers.each do |tracker| %>
  <td><%= check_box_tag tracker.name, tracker.id, checked=true %></td>
<% end %>
<td>
<%= submit_tag l(:button_update) %>
</td>
</tr>
</table>

<div id="issue_growth_graph">
    <%= render :partial => 'issue_growth_graph' %>
</div>

<% content_for :sidebar do %>
    <%= render :partial => 'issues/sidebar' %>
<% end %>
